/* Overall Dashboard Layout */
.dashboard-wrapper {
  background: linear-gradient(to bottom right, #022329, #85e5f1);
  min-height: 50vh;
  display: flex;
  flex-direction: column;
}


/* Welcome Card */
.welcome-card {
  background: linear-gradient(135deg, #5a9bf6 0%, #7b68ee 100%);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
  color: #95e6fa;
  border-radius: 1rem;
  padding: 2rem;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
}

.welcome-card:hover {
  transform: translateY(-3px);
}

/* Stat Cards */
.stat-card {
  border-radius: 1rem;
  padding: 2rem;
  background: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease-in-out;
  position: relative;
}


.stat-card:hover {
  transform: translateY(-5px);
  background-color: #f9fafe;
}

.stat-card:hover::after {
  width: 80%;
}

/* Button */
.btn-lg {
  padding: 14px 28px;
  font-size: 1.1rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 123, 255, 0.25);
  transition: background-color 0.3s ease-in-out;
}

.btn-lg:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

/* Footer */
footer {
  font-size: 1rem;
  
  background-color: #a5e4f0;
  
  margin-top:auto;
    box-shadow: 0 -2px 6px rgba(156, 71, 71, 0.05);
}
